@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-clash-display: "ClashDisplay", sans-serif;

  --breakpoint-xs: 24rem;

  /* Theme  */
  --color-background: var(--color-background);
  --color-foreground: var(--foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-sidebar: var(--sidebar);
  --color-codeWrapper: var(--codeWrapper);

  --sidebar-width: 18rem;
  --spacing-header-height: 4.5rem;
  --spacing-sidebar-width: var(--sidebar-width);
  --spacing-mobile-sidebar-height: calc(100svh - var(--spacing-header-height));
}

:root {
  --color-background: oklch(0.985 0 0);
  --foreground: oklch(0.145 0 0);
  --popover: oklch(0.985 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.905 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --sidebar: oklch(0.985 0 0);
  --compWrapper: oklch(0.269 0 0);
  --codeWrapper: oklch(0.269 0 0);
}

[data-theme="dark"] {
  --color-background: oklch(0.145 0 0);
  --foreground: oklch(0.5 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --sidebar: oklch(0.205 0 0);
}


pre > code span {
  background-color: var(--color-codeWrapper);
}