@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-clash-display: "ClashDisplay", sans-serif;

  --breakpoint-xs: 24rem;

  /* Theme  */
  --color-background: var(--color-background);
  --color-foreground: var(--foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-sidebar: var(--sidebar);
  --color-codeWrapper: var(--codeWrapper);
  --color-border: var(--border);

  --sidebar-width: 18rem;
  --spacing-header-height: 4.5rem;
  --spacing-sidebar-width: var(--sidebar-width);
  --spacing-mobile-sidebar-height: calc(100svh - var(--spacing-header-height));
}

:root {
  --color-background: oklch(92.494% 0.00011 271.152);
  --foreground: oklch(0.145 0 0);
  --popover: oklch(0.985 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.746 0.16 232.661);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.905 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --sidebar: oklch(0.985 0 0);
  --compWrapper: oklch(0.269 0 0);
  --codeWrapper: oklch(0.269 0 0);
  --border: oklch(0.746 0.16 232.661);
}

[data-theme="dark"] {
  --color-background: oklch(0.145 0 0);
  --foreground: oklch(0.5 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.746 0.16 232.661);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --sidebar: oklch(0.205 0 0);
  --border: oklch(0.746 0.16 232.661);
}

pre > code span {
  background-color: var(--color-codeWrapper);
}

@layer utilities {
  .bg-gradient {
    background: linear-gradient(
      -290deg,
      #00a6f4,
      #30b1ed 10%,
      transparent 25%,
      transparent 50%,
      #00a6f4 105%,
      #00a6f4 50%
    );
    background-size: 150% 150%;
    animation: gradientShift 14s ease-in-out infinite;
  }

  @keyframes gradientShift {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 60%;
    }
  }
}
